#target目录下所有文件
target/


#.classpath文件
.classpath


#bin目录下所有文件
/bin/


#eclipse settings文件
.settings


#.project文件
.project

#.ignore文件
.gitignore

#.log文件
*.log.*
*.log

#.log文件
*.lock


#.jar文件
*.jar

#*-cache
*-cache
bin

#.metadata/
.metadata/

# .recommenders/
.recommenders/

#.idea
.idea/

*.iml